
/* nav {
    min-width: 200px;
    max-width: 300px;
} */
.main {
    display: flex;
    /* justify-content: center; */
    /* height: 80vh; */
}

.chart-container {
    margin-left: 24px;
    display: flex;
    position: relative;
    /* max-height: 85vh; */
    /* border: aquamarine solid 2px; */
}


.button {
    width: fit-content;
    border: rgba(54, 162, 235, 1) solid 1.5px;
    background-color: rgba(54, 162, 235, 0.1);
    cursor: pointer;
    margin-top: 16px;
    padding: 4px;
    border-radius: 3px;
}
.button:hover {
    background-color: rgba(54, 162, 235, 0.2);
}

.below {
    margin-top: 50px;
    display: flex;
}
.buttons {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 24px;
}
#beef,
#poultry,
#wheat {
    margin-left: 18px;
}

#doughnut {
    margin-top: 40px;
    margin-left: 40px;
    display: block;
    max-height: 50%;
    max-width: 50%;
}

#scroll-up {
    border-radius: 50%;
}