
nav {
    min-width: 200px;
}
.main {
    display: flex;
    /* justify-content: center; */
    height: 80vh;
}
.left {
    width: 300px;
    margin-left: 24px;
    margin-top: 24px;
    display: block;
    flex-direction: column;
}

.chart-container {
    margin-left: 24px;
    display: flex;
    position: relative;
    /* border: aquamarine solid 2px; */
}


.button {
    border:  aquamarine solid 2px;
    cursor: pointer;
    margin-top: 16px;
}

.below {
    margin-top: 50px;
    display: flex;
}
.buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 24px;
}
#beef,
#poultry,
#wheat {
    text-indent: 18px;
}

#doughnut {
    margin-top: 40px;
    margin-left: 40px;
    display: block;
    max-height: 50%;
    max-width: 50%;
}

