/* #dff2f2 */

h1 {
    text-align: center;
    height: 24px;
    /* margin-top: 24px; */
    font-size: 24px;
    margin-bottom: 12px;
}
.subtitle {
    text-align: center;
    margin-bottom: 12px;
}

.sources {
    font-size: 12px;
    font-weight: lighter;
    padding: 6px;
}
.sources li {
    font-size: 10px;
    font-weight: lighter;
    padding: 6px;
}

#my-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 36px;   
}
#my-links a {
    margin-left: 8px;
}

.left {
    min-width: 200px;
    max-width: 300px;
    margin-top: 60px;
    margin-left: 24px
}
@media screen and (max-width: 1250px){
    .main{
        flex-direction: column;
        align-content: center;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        align-self: center;
        max-width: 70vw;
        /* justify-content: center; */
        /* align-content: center; */
    }
    .top-graph-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #scroll-down {
        align-self: center;
    }
    
    
}


#info {
    margin-top: 24px;
    margin-bottom: 24px;
    display: block;
    /* height: 300px; */
}